/* MOBILE SM */

@media screen and (min-width: 576px) {

    /* CONTENT-TABLE */

    .table .my_col1 {
        width: 40%;
    }

    .table .my_col3 {
        width: 20%;
    }
    
    .table .my_col4 {
        width: 20%;
    }
    
    .table .my_col5 {
        width: 20%;
    }
    
}


/* TABLET MD */
@media screen and (min-width: 768px) {
    
    /* JUMBOTRON */
    .jumbotron .badge {
        font-size: 0.85rem;
    }
    
    .jumbotron h1 {
        font-size: 1.8rem;
    }
    
    .jumbotron h2 {
        font-size: 1rem;
    }
    
    .jumbotron p {
        font-size: 1.8rem;
    }
    
    .jumbotron .btn {
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
    }

    .offcanvas.offcanvas-end {
        width: 100%;
    }

    /* CONTENT-TABLE */

    .table .my_col1 {
        width: 32%;
    }

    .table .my_col2 {
        width: 17%;
    }

    .table .my_col3 {
        width: 17%;
    }
    
    .table .my_col4 {
        width: 17%;
    }
    
    .table .my_col5 {
        width: 17%;
    }

}


/* DESKTOP LG */
@media screen and (min-width: 992px) {

    /* SIDEBAR */
    .sidebar {
        width: 150px;
    }

    /* JUMBOTRON */
    .jumbotron .badge {
        font-size: 0.75rem;
    }
    
    .jumbotron h1 {
        font-size: 1.7rem;
    }
    
    .jumbotron h2 {
        font-size: 0.90rem;
    }
    
    .jumbotron p {
        font-size: 1.7rem;
    }

    .offcanvas.offcanvas-end {
        width: 50%;
    }
    
}

/* XL 1200px */

@media screen and (min-width: 1200px) {

    .table .my_col1 {
        width: 40%;
    }

    .table .my_col2 {
        width: 15%;
    }

    .table .my_col3 {
        width: 15%;
    }
    
    .table .my_col4 {
        width: 15%;
    }
    
    .table .my_col5 {
        width: 15%;
    }

}